@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle, #000115, #000010);
    cursor: none;
    overflow: hidden;
    transition: background 0.2s ease-out;
  }

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 65px;
    position: absolute;
    transition: transform 0.1s linear;
    text-transform: uppercase;
  }
  

.cursor {
  z-index: -1;
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(38,150,232,0.4) 20%, rgba(38,150,232,0) 80%);
  box-shadow: 0 0 30px rgba(38, 150, 232, 0.6), 
              0 0 50px rgba(38, 150, 232, 0.4), 
              0 0 80px rgba(38, 150, 232, 0.2);
  transition: transform 0.1s linear, opacity 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  animation: colors 5s infinite linear;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*background: radial-gradient(circle, rgba(38,150,232,0.4) 20%, rgba(38,150,232,0) 80%);*/
  opacity: 0.8;
  filter: blur(20px);
}
